doctype html
html
    head
        title= '三一重卡 拼团 管理后台'
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
        link(rel='stylesheet', href='https://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js')
        link(rel='stylesheet', href='/stylesheets/login/style.css')
    body
        div.wrapper
            form.form-signin(role='form', action='/admin/login', method='post')
                h2.form-signin-heading 请登录
                label.sr-only(for='inputEmail')
                input.form-control(type='text', name='username', id='inputEmail', placeholder='Username', required, autofocus)
                input.form-control(type='password', name='password', id='inputPassword', placeholder='Password')
                button.btn.btn-lg.btn-primary.btn-block(type='submit') 登录