li
    a(href="/api/ping/pinging") 拼团中
li
    a(href="/api/ping/toProcess") 待处理
//li
//    a(href="/api/ping/toRefund") 待退款
li
    a(href="/api/ping/processed") 已处理
//li
//    a(href="/api/ping/refunded") 已退款